<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sun.mapper.RecordMapper">

    <select id="selectRecord" resultType="int">
        select count(*) from sun_zzdyjl with(nolock)  where ybid =  #{ybid};
    </select>


</mapper>
